n8n_telegram_router_workflow.json
{
  "name": "Telegram Bot Router (Hybrid)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "options": {}
      },
      "name": "Webhook - Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "telegram-main"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "contains",
              "value2": "calendar"
            },
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "contains",
              "value2": "schedule"
            },
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "contains",
              "value2": "gmail"
            },
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "contains",
              "value2": "email"
            }
          ]
        }
      },
      "name": "Simple Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/intelligence/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env[\"PANTHEON_API_KEY\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json[\"message\"][\"text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Call Pantheon Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json[\"response\"]}}",
        "additionalFields": {}
      },
      "name": "Reply via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "text": "🔍 Checking calendar..."
      },
      "name": "Handle Simple (Calendar/Gmail)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 200],
      "notes": "Add Google Calendar/Gmail nodes here"
    }
  ],
  "connections": {
    "Webhook - Telegram": {
      "main": [
        [
          {
            "node": "Simple Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Query?": {
      "main": [
        [
          {
            "node": "Handle Simple (Calendar/Gmail)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Pantheon Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Pantheon Brain": {
      "main": [
        [
          {
            "node": "Reply via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Simple (Calendar/Gmail)": {
      "main": [
        [
          {
            "node": "Reply via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "telegram-router"
}
