pantheon_n8n/health_watcher.json
{
  "name": "Pantheon: System Health Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Mins",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "http://141.148.210.250:3000/api/nyx/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pantheon-Key",
              "value": "65f7a184488e0bccaa23dd83ff114ac9fc7815c834b3e29ab717ba79f7537863"
            }
          ]
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Server Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.online}}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "online-check",
      "name": "Is Server Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://141.148.210.250:3000/api/nyx/dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pantheon-Key",
              "value": "65f7a184488e0bccaa23dd83ff114ac9fc7815c834b3e29ab717ba79f7537863"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "🚨 ALARM: Pantheon Server status check failed! Some agents may be offline."
            },
            {
              "name": "priority",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "alert-vpk",
      "name": "Alert VPK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Every 30 Mins": {
      "main": [
        [
          {
            "node": "Check Server Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Server Status": {
      "main": [
        [
          {
            "node": "Is Server Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Server Down?": {
      "main": [
        [
          {
            "node": "Alert VPK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
