pantheon_n8n/IMPORT_THIS_github.json
{
  "name": "Pantheon: GitHub Sync v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pantheon-github-v2",
        "options": {}
      },
      "id": "github-webhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "functionCode": "const exec = require('child_process').exec;\n\nreturn new Promise((resolve, reject) => {\n  exec('cd /vault && git pull origin main', (error, stdout, stderr) => {\n    if (error) {\n      return resolve([{json: {error: error.message, success: false}}]);\n    }\n    resolve([{json: {output: stdout, success: true}}]);\n  });\n});"
      },
      "id": "git-pull",
      "name": "Git Pull",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "functionCode": "const exec = require('child_process').exec;\n\nreturn new Promise((resolve, reject) => {\n  exec('cd /vault && git diff HEAD@{1} HEAD --name-only', (error, stdout, stderr) => {\n    if (error) {\n      return resolve([{json: {files: [], count: 0}}]);\n    }\n    const files = stdout.split('\\n').filter(f => f.trim());\n    resolve([{json: {files: files, count: files.length}}]);\n  });\n});"
      },
      "id": "get-changes",
      "name": "Get Changed Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8060661071:AAGAPZg7HJcQod7mjh3Sx4NnMga9d9hDGrA/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5754657595"
            },
            {
              "name": "text",
              "value": "={{\"📂 **[VAULT SYNC]**\\n\\n\" + $node[\"Get Changed Files\"].json.count + \" files changed\"}}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Get Changed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Changed Files": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
