pantheon_n8n/IMPORT_THIS_telegram.json
{
  "name": "Pantheon: Telegram Bot v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pantheon-telegram-v2",
        "options": {}
      },
      "id": "telegram-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://141.148.210.250:3000/api/intelligence/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pantheon-Key",
              "value": "65f7a184488e0bccaa23dd83ff114ac9fc7815c834b3e29ab717ba79f7537863"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=[TELEGRAM] VPK: {{$json.body.message.text || $json.body.message.caption || '[Media]'}}"
            },
            {
              "name": "model",
              "value": "groq"
            }
          ]
        },
        "options": {}
      },
      "id": "nyx-intelligence",
      "name": "NYX Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8060661071:AAGAPZg7HJcQod7mjh3Sx4NnMga9d9hDGrA/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5754657595"
            },
            {
              "name": "text",
              "value": "={{\"🌙 **[NYX]**\\n\\n\" + $node[\"NYX Intelligence\"].json.response}}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "NYX Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NYX Intelligence": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
