pantheon_n8n/pantheon_github_sync.json
{
  "name": "Pantheon: GitHub Vault Sync v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pantheon-github-sync",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "github-webhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "pantheon-github-sync"
    },
    {
      "parameters": {
        "command": "cd /vault && git pull origin master"
      },
      "id": "git-pull",
      "name": "Git Pull Vault",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /vault && git diff HEAD@{1} HEAD --name-only"
      },
      "id": "git-diff",
      "name": "Get Changed Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.stdout || '';\nconst files = output.split('\\n').filter(f => f.trim());\n\nconst categorized = {\n  tasks: files.filter(f => f.includes('06-Tasks/')),\n  notes: files.filter(f => f.includes('07-Daily_Notes/')),\n  projects: files.filter(f => f.includes('03-Projects/')),\n  finance: files.filter(f => f.includes('04-Finance/')),\n  agent_config: files.filter(f => f.includes('.agents/') || f.includes('agent_registry.json'))\n};\n\nreturn [{\n  json: {\n    total_files: files.length,\n    all_files: files,\n    categorized: categorized,\n    has_changes: files.length > 0\n  }\n}];"
      },
      "id": "categorize-files",
      "name": "Categorize Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.PANTHEON_SERVER_URL }}/api/intelligence/query",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pantheon-Key",
              "value": "={{ $env.PANTHEON_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"[VAULT SYNC ANALYSIS] VPK pushed {{ $json.total_files }} files to the vault.\\n\\nChanged files:\\n{{ $json.all_files.join('\\\\n') }}\\n\\nAnalyze these changes. If they contain new tasks, expenses, or important clinical notes, summarize them for him. Be concise.\",\n  \"model\": \"groq\"\n}",
        "options": {}
      },
      "id": "nyx-analysis",
      "name": "NYX Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.USER_CHAT_ID }}\",\n  \"text\": \"📂 *[VAULT SYNC]*\\n\\n{{ $json.response }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.PANTHEON_SERVER_URL }}/api/internal/index-vault",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pantheon-Key",
              "value": "={{ $env.PANTHEON_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-reindex",
      "name": "Trigger Re-index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"files_processed\": {{ $json.total_files }} }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{ "node": "Git Pull Vault", "type": "main", "index": 0 }]]
    },
    "Git Pull Vault": {
      "main": [[{ "node": "Get Changed Files", "type": "main", "index": 0 }]]
    },
    "Get Changed Files": {
      "main": [[{ "node": "Categorize Changes", "type": "main", "index": 0 }]]
    },
    "Categorize Changes": {
      "main": [[{ "node": "NYX Analysis", "type": "main", "index": 0 }]]
    },
    "NYX Analysis": {
      "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
    },
    "Notify Telegram": {
      "main": [[{ "node": "Trigger Re-index", "type": "main", "index": 0 }]]
    },
    "Trigger Re-index": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  }
}
