n8n_workflows/06_send_email.json
{
  "name": "Pantheon: Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-send-email",
      "name": "Email Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "send-email-webhook-pantheon"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email.to }}",
        "subject": "={{ $json.email.subject }}",
        "message": "={{ $json.email.body }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Send via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://141.148.210.250:3001/api/memory/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "65f7a184488e0bccaa23dd83ff114ac9fc7815c834b3e29ab717ba79f7537863"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'email', items: [{ timestamp: new Date().toISOString(), content: 'SENT: ' + $json.email.body, metadata: { from: 'VPK', to: $json.email.to, subject: $json.email.subject, direction: 'outgoing' } }] }) }}",
        "options": {}
      },
      "id": "archive-sent",
      "name": "Archive Sent Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    messageId: $input.first().json.id || 'sent',\n    to: $('Email Send Webhook').item.json.email.to,\n    subject: $('Email Send Webhook').item.json.email.subject\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Email Send Webhook": {
      "main": [
        [
          {
            "node": "Send via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail": {
      "main": [
        [
          {
            "node": "Archive Sent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Sent Email": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "1"
}
